:root {
  --fondo-oscuro: #2b2733;
  --fondo-lateral: #483d55;
  --fondo-busqueda: #483d55;
  --color-tarjeta: #d9d9d9;
  --texto-blanco: #e0e0e0;
  --texto-gris: #a09ba6;
  --hovers: #a29bfe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #1a1820;
  color: var(--texto-blanco);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-principal {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--fondo-oscuro);
  overflow: hidden;
}

/*barra late */
.barra-lateral {
  width: 260px;
  background-color: var(--fondo-lateral);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;
  flex-shrink: 0;
}
#conf{
  cursor: pointer;
  margin-left: 30px;
}


.zona-superior {
  flex-grow: 1;
}
.logo {
  font-size: 35px;
  margin-left: 30px;
  margin-bottom: 40px;
  color: #cbbde8;
}

/* Navegación y Árbol */
.barra-lateral ul {
  list-style: none;
}

.cabecera-desplegable {
  padding: 12px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.3s;
}
.cabecera-desplegable:hover {
  color: var(--hovers);
}
.cabecera-desplegable .icono {
  margin-right: 15px;
  width: 25px;
}


.contenedor-sublista {
  overflow: hidden;
  transition: max-height 0.4s ease;
  max-height: 500px; 


  margin-left: 41px; 
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.contenedor-sublista.cerrado {
  max-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.titulo-rama {
  display: block;
  color: var(--texto-blanco);
  font-size: 1rem;
  margin-bottom: 10px;
  margin-top: 10px;
}

.lista-subitems {
  margin-left: 10px;
}

.lista-subitems li {
  padding: 8px 0;
  color: var(--texto-gris);
  cursor: pointer;
  font-size: 0.95rem;
  transition: 0.3s;
}
.lista-subitems li:hover {
  color: var(--hovers);
}
.enlace-mas {
  color: var(--texto-blanco) !important;
  opacity: 0.8;
  margin-top: 5px;
}

/* Pie Barra Lateral */
.pie-barra-lateral {
  padding: 0 25px;
}
.iconos-inferiores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 10px;
}
.iconos-inferiores div {
  cursor: pointer;
  font-size: 1.2rem;
  color: #ffffff;
}
.iconos-inferiores div:hover {
  color: var(--hovers);
}

.separador-lateral {
  height: 1px;
  width: 123%;
  margin-left: -23px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
}
.perfil-usuario {
  display: flex;
  align-items: center;
  gap: 15px;
}
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nombre-usuario {
  font-size: 1rem;
  font-weight: 600;
}

/*contenido principal
 */
.contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  overflow: hidden;
}


.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.contenedor-busqueda {
  display: flex;
  align-items: center;
  background-color: var(--fondo-busqueda);
  border-radius: 25px;
  padding: 10px 20px;
  width: 60%;
  color: var(--texto-gris);
}
.contenedor-busqueda input {
  background: transparent;
  border: none;
  margin-left: 10px;
  width: 100%;
  color: white;
  font-size: 1rem;
  outline: none;
}
.boton-carrito {
  background-color: var(--fondo-busqueda);
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}

i {
  color: inherit;
}


.seccion-juegos-completa {
  height: 100%;
  display: flex;
 
  flex-direction: column;
}

.seccion-juegos-completa h2 {
  font-weight: 400;
  margin-bottom: 25px;
  font-size: 1.1rem;
}

.cuadricula-grande {
  display: grid;
 
  grid-template-columns: repeat(4, 1fr);

  gap: 25px;

  overflow-y: auto;
  padding-right: 10px;
  padding-bottom: 20px;

  padding-top: 1%;

  scrollbar-width: thin;
  scrollbar-color: var(--fondo-lateral) transparent;
}

.tarjeta {
  background-color: var(--color-tarjeta);
  border-radius: 15px;
  aspect-ratio: 16/10; 
  transition: transform 0.2s;
  cursor: pointer;
  
}
.tarjeta:hover {
  transform: translateY(-5px);
  background-color: #fff;
 
}

/* Responsive */
@media (max-width: 1200px) {
  .cuadricula-grande {
    grid-template-columns: repeat(3, 1fr);
  }
}
