:root {
  --fondo-oscuro: #2b2733;
  --fondo-lateral: #483d55;
  --fondo-busqueda: #483d55;
  --color-tarjeta: #d9d9d9;
  --texto-blanco: #e0e0e0;
  --texto-gris: #a09ba6;
  --borde-separador: rgba(255, 255, 255, 0.2);
  --hovers: #a29bfe;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

a {
  color: inherit;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  background-color: #1a1820;
  color: var(--texto-blanco);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-principal {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: var(--fondo-oscuro);
  overflow: hidden;
}

/*barra lateral */
.barra-lateral {
  width: 260px;
  background-color: var(--fondo-lateral);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 0;
  flex-shrink: 0; 
}

.zona-superior {
  flex-grow: 1;
}

.logo {
  font-size: 35px;
  margin-left: 30px;
  margin-bottom: 40px;
  color: #cbbde8; 
}

/* desplegable y navegacion*/
.barra-lateral ul {
  list-style: none;
}

.cabecera-desplegable {
  padding: 12px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  transition: 0.3s;
}

.cabecera-desplegable:hover {
  color: var(--hovers);
}
.cabecera-desplegable .icono {
  margin-right: 15px;
  width: 25px;
}

i {
  color: inherit;
}

.contenedor-sublista {
  overflow: hidden;
  transition: max-height 0.4s ease;
  max-height: 500px;
}
.contenedor-sublista.cerrado {
  max-height: 0;
}

.lista-subitems {
  margin-left: 65px;
  border-left: none;
}

.lista-subitems li {
  padding: 8px 0;
  color: var(--texto-gris);
  cursor: pointer;
  font-size: 0.95rem;
  transform: translateY(0);
  opacity: 1;
  transition: 0.3s;
}
.lista-subitems li:hover {
  color: var(--hovers);
}

.contenedor-sublista.cerrado li {
  opacity: 0;
  transform: translateY(-10px);
}

/* pie barra lateral */
.pie-barra-lateral {
  padding: 0 25px;
}

.iconos-inferiores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 0 10px;
}
.iconos-inferiores div {
  cursor: pointer;
  font-size: 1.2rem;
  color: #ffffff;
}
.iconos-inferiores div:hover {
  color: var(--hovers);
}

.separador-lateral {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

.perfil-usuario {
  display: flex;
  align-items: center;
  gap: 15px;
}
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nombre-usuario {
  font-size: 1rem;
  font-weight: 600;
}

#conf {
  cursor: pointer;
  margin-left: 30px;
}
/* contenido principal */
.contenido {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  overflow: hidden;
}

.barra-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.contenedor-busqueda {
  display: flex;
  align-items: center;
  background-color: var(--fondo-busqueda);
  border-radius: 25px;
  padding: 10px 20px;
  width: 60%;
  color: var(--texto-gris);
}

.contenedor-busqueda input {
  background: transparent;
  border: none;
  margin-left: 10px;
  width: 100%;
  color: white;
  font-size: 1rem;
  outline: none;
}


.boton-carrito {
  background-color: var(--fondo-busqueda);
  width: 50px;
  height: 50px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.scroll-contenido {
  overflow-y: auto;
  padding-right: 10px;

  scrollbar-width: thin;
  scrollbar-color: var(--fondo-lateral) transparent;
}

.seccion-categoria {
  margin-bottom: 30px;
}

.seccion-categoria h3 {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.fila-tarjetas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-bottom: 15px;
}

.tarjeta {
  background-color: var(--color-tarjeta);
  border-radius: 15px;
  aspect-ratio: 16/9; 
  transition: transform 0.2s;
  cursor: pointer;
}
.tarjeta:hover {
  transform: translateY(-5px);
}

.separador-guiones {
  text-align: center;
  color: var(--texto-gris);
  font-family: monospace;
  letter-spacing: 5px;
  opacity: 0.5;
  margin-top: 10px;
}
