/* variables globales */
:root {
    --fondo-oscuro: #1e1b26;
    --fondo-lateral: #433850;
    --fondo-busqueda: #3b3446;
    --color-tarjeta: #d9d9d9;
    --texto-blanco: #ffffff;
    --color-mas: rgba(255, 255, 255, 0.2);
    --hovers: #a29bfe;
}

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: var(--fondo-oscuro);
    color: var(--texto-blanco);
}

.contenedor-principal {
    display: flex;
    height: 100vh;
}

/* barra lateral izquierda */
.barra-lateral {
    width: 260px;
    background-color: var(--fondo-lateral);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    font-size: 50px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--texto-blanco);
}

.barra-lateral ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.barra-lateral ul li {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s;
}

.barra-lateral ul li:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.icono {
    width: 25px;
    text-align: center;
    margin-right: 15px;
    font-size: 1.2rem;
}

.texto-enlace {
    text-decoration: underline;
}


.pie-barra-lateral {
    border-top: 1px solid var(--color-mas);
    padding: 20px;
}

.iconos-inferiores {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
    font-size: 22px;
}

.perfil-usuario {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 22px;
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    background: #333;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* cabezera */
.contenido {
    flex: 1;
    padding: 30px 60px;
    overflow-y: auto;
}

.barra-superior {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}


.contenedor-busqueda {
    width: 75%;
}

.envoltura-busqueda {
    display: flex;
    align-items: center;
    background-color: var(--fondo-busqueda);
    border-radius: 30px;
    padding: 5px 25px;
}

.envoltura-busqueda input {
    background: transparent;
    border: none;
    padding: 12px 0;
    width: 100%;
    color: white;
    outline: none;
    font-size: 1rem;
}


.boton-carrito {
    background-color: var(--fondo-busqueda);
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s;
}

.boton-carrito:hover {
    transform: scale(1.1);
}

.boton-carrito:hover i{
    color: var(--hovers);
}

.seccion-juegos {
    margin-bottom: 90px;
}

h2 {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 25px;
}

.cuadricula {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.tarjeta {
    background-color: var(--color-tarjeta);
    border-radius: 20px;
    aspect-ratio: 16 / 10;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.tarjeta:hover {
    transform: translateY(-5px);
    background-color: #e5e5e5;
}

.Mas {
    text-align: center;
    margin-top: 35px;
    color: var(--color-mas);
    letter-spacing: 10px;
}

/* estilos fontawesome */
i {
    color: var(--texto-blanco);
    transition: color 0.2s;
}


.tarjeta i {
    color: black
}

.tarjeta i:hover {
    color: rgb(26, 9, 102)
}

.iconos-inferiores i:hover,
.barra-lateral ul li:hover i {
    color: var(--hovers);
}

.envoltura-busqueda i {
    color: #888;
    margin-right: 15px;
}

i {
    color: #1e1b26;
}