<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito </title>
  <link rel="stylesheet" href="../static/fontawesome-free-7.1.0-web/css/all.min.css">
  <link rel="stylesheet" href="../static/estilos/carrito.css" />
</head>
<body>

  <div class="contenedor-principal">
    
    <aside class="barra-lateral">
      <div class="zona-superior">
        <div class="logo">
          <i class="fa-solid fa-dragon"></i>
        </div>
        
        <nav>
          <ul>
            <li class="item-desplegable">
              <div class="cabecera-desplegable" id="boton-tienda">
                <i class="fa-solid fa-store icono"></i>
                <span class="texto-enlace">Tienda</span>
              </div>
              <div class="contenedor-sublista cerrado" id="menu-tienda">
                <ul class="lista-subitems">
                  <li>Ofertas</li>
                  <li>Populares</li>
                </ul>
              </div>
            </li>

            <li class="item-desplegable"> 
              <div class="cabecera-desplegable" id="boton-coleccion">
                <i class="fa-solid fa-book-open icono"></i>
                <span class="texto-enlace">Coleccion</span>
              </div>
              <div class="contenedor-sublista cerrado" id="menu-coleccion">
                <ul class="lista-subitems">
                  <li>Metroidvania</li>
                  <li>Souls</li>
                  <li>Estrategia</li>
                  <li class="enlace-mas">Mostrar mas</li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
      </div>

      <div class="pie-barra-lateral">
        <div class="iconos-inferiores">
          <div><i class="fa-solid fa-bell"></i></div>
          <div><i class="fa-solid fa-user"></i></div>
          <div><i class="fa-solid fa-star"></i></div>
        </div>
        <div class="separador-lateral"></div>
        <div class="perfil-usuario">
          <div class="avatar">
            <img src="https://i.pravatar.cc/150?img=11" alt="Usuario">
          </div>
          <span class="nombre-usuario">Paco Leon</span>
          <div id="conf"><i class="fa-solid fa-gear"></i></div>
        </div>
      </div>
    </aside>

    <main class="contenido">
      <header class="barra-superior">
        <div class="contenedor-busqueda">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="">
        </div>
        <div class="boton-carrito">
          <i class="fa-solid fa-cart-shopping"></i>
        </div>
      </header>

      <section class="seccion-carrito">
        <h2>Carrito</h2>
        
        <div class="lista-productos">
            
            <div class="item-carrito">
                <div class="imagen-producto"></div>
                <div class="info-producto">
                    <span class="nombre-juego">Bigger hunter</span>
                </div>
                <div class="controles-cantidad">
                    <button class="btn-cantidad"><</button>
                    <div class="input-cantidad">1</div>
                    <button class="btn-cantidad">></button>
                </div>
                <div class="precio-producto">59.99€</div>
            </div>

            <div class="item-carrito">
                <div class="imagen-producto"></div>
                <div class="info-producto">
                    <span class="nombre-juego">Femboys love</span>
                </div>
                <div class="controles-cantidad">
                    <button class="btn-cantidad"><</button>
                    <div class="input-cantidad">1</div>
                    <button class="btn-cantidad">></button>
                </div>
                <div class="precio-producto">39.99€</div>
            </div>
            

        </div>

        <div class="zona-pago">
            <div class="total-resumen">
                <span class="etiqueta-total">Total:</span>
                <span class="valor-total">99,98€</span>
            </div>
            <button class="boton-ir-pago">Ir al pago</button>
        </div>

      </section>

    </main>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const Desplegable = (idBoton, idMenu) => {
        const boton = document.getElementById(idBoton);
        const menu = document.getElementById(idMenu);
        if (boton && menu) {
          boton.addEventListener("click", () => {
            menu.classList.toggle("cerrado");     
          });
        }
      };
      Desplegable("boton-tienda", "menu-tienda");
      Desplegable("boton-coleccion", "menu-coleccion");
    });
  </script>
</body>
</html>