<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>inicio</title>
    <link rel="stylesheet" href="/fontawesome-free-7.1.0-web/css/all.min.css">
    <link rel="stylesheet" href="/estilos/index.css" />
</head>
<body>
  <div class="contenedor-principal">
    <div id="sidebar-container"></div>

    <main class="contenido">
      <header class="barra-superior">
        <div class="contenedor-busqueda">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Buscar en la tienda...">
        </div>
        <div class="boton-carrito">
          <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
          <span class="contador-carrito" id="badge-carrito">0</span>
        </div>
      </header>

      <div class="scroll-contenido">

        <!-- Sección Hero Destacada -->
        <section class="hero-banner" id="hero-elden-ring">
          <div class="hero-overlay"></div>
          <div class="hero-content">
            <h2>ELDEN RING</h2>
            <p>Levántate, Sinluz, y déjate guiar por la gracia para esgrimir el poder del Anillo de Elden y convertirte en el Señor del Círculo en las Tierras Intermedias.</p>
            <button class="btn-hero">COMPRAR AHORA</button>
          </div>
        </section>
        
        <section class="seccion-categoria">
          <h3>Novedades</h3>
          <div class="fila-tarjetas" id="fila-novedades">
            <!-- Se cargará mediante fetch -->
          </div>
        </section>

        <section class="seccion-categoria">
          <h3>Recomendados para ti</h3>
          <div class="fila-tarjetas" id="fila-recomendados">
             <!-- Se cargará mediante fetch -->
          </div>
        </section>

        <section class="seccion-categoria">
          <h3>Jugados recientes</h3>
          <div class="fila-tarjetas" id="fila-recientes">
             <!-- Se cargará mediante fetch -->
          </div>
        </section>

      </div>
  <!-- Scripts de autenticación JWT -->
  <script src="/js/auth.js"></script>
  <script src="/js/fetch-interceptor.js"></script>
  <script src="/js/route-protection.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>
